* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    text-decoration: none;
  }

::-webkit-scrollbar {
  width:4px;
}
::-webkit-scrollbar-thumb {
  background: rgb(142, 170, 172);
  border-radius: 20px;
}